@model List<FoodDeliveryMVCLab.Models.Restaurants.RestaurantViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Заведения</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Dish" asp-action="Index" asp-route-restId="@item.Id">
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" width="150" height="150" />
                    </a>
                </td>
                <td>
                    <a asp-controller="Dish" asp-action="Index" asp-route-restId="@item.Id">@item.Name</a>
                </td>
            </tr>
        }
    </tbody>
</table>
